#define WINVER 0x0410
#include <windows.h>
#include "wgnuplib.rc"

#ifndef NO_MANIFEST
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "wgnuplot.exe.manifest"
#endif

GRPICON ICON "grpicon.ico"
TEXTICON ICON "texticon.ico"
