# Project defaults are defined in top directory.
# Here we just list exceptions.

[*.{h,c,rc,dlg}]
indent_style = space
indent_size = 4
tab_width = 8
trim_trailing_whitespace = true

[gclient.c]
indent_style = tab
indent_size = 4
tab_width = 8
trim_trailing_whitespace = true
