VERSION
*.d
*.h
*.o
*.co
*.po
*.exe
*.dll
*.mnu
*.ico
*.chw
*.chm
*.tex
*.sty
*.aux
*.dvi
*.log
*.toc
*.eps
*.ps
*.pdf
*.par
*.log
*.tmp
*.zip
*.qm
*.map
moc_*.cpp
qrc_*.cpp
dist
ja
share
*.depend
*.layout
obj
bin
