.deps
Makefile
Makefile.in
alldoc2gih
allterm.h
checkdoc
doc2gih
doc2hlp
doc2ipf
doc2ms
doc2rnh
doc2rtf
doc2tex
doc2wxhtml
gnuplot-tikz.help
gnuplot.gih
gnuplot.html
gnuplot.inf
gnuplot.info
gnuplot.ipf
gnuplot.ms
gnuplot.nroff
gnuplot.out
gnuplot.rtf
gnuplot.tex
gnuplot.texi
gnuplot.cp
gnuplot.fn
gnuplot.vr
gnuplot.tp
gnuplot.ky
gnuplot.pg
gnuplot.cm
gnuplot.op
gnuplot.tm
pdffigures.tex
*.aux
*.dvi
*.log
*.pdf
*.ps
*.toc
